#Windows:
.vs
sudoku.sln
sudoku.vcxproj
sudoku.vcxproj.filters
sudoku.vcxproj.user
*.vsps
*.vspx
*.ruleset
##############################
## Folders                  ##
##############################
Debug

#MyFile
sudoku.txt
test.txt