#Windows:
.vs
sudoku.sln
sudoku.vcxproj
sudoku.vcxproj.filters
sudoku.vcxproj.user
##############################
## Folders                  ##
##############################
Debug

#MyFile
sudoku.txt